<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of students</title>
</head>
<body>
    <a href="/create-student">
        Create new student
    </a>

    <table>
        <tr>
            <td>Name</td>
            <td>Group</td>
            <td>Birthday</td>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.group }}</td>
            <td>{{ student.birthday }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>