{% extends "./base.html" %}

{% block title %}List of students{% endblock %}

{% block content %}
<menu>
{% if perms.students.add_student %}
<li><a href="{% url 'student-create' %}">
    Create new student
</a></li>
{% endif %}
</menu>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Group</th>
        <th>Birthday</th>
    </tr>
    </thead>

    <tbody>
    {% for student in object_list %}
    <tr>
        <td><a href="{{ student.url }}">{{ student.full_name }}</a></td>
        <td>{{ student.group }}</td>
        <td>{{ student.birthday }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}