header {
    margin-bottom: 0.5em;
}

dl dt {
    font-weight: bold;
    width: 5em;
    float: left;
}

menu {
    list-style: none;
    padding-left: 0;
}

menu li {
    display: inline;
    margin: 0 1em;
}

table th {
    text-align: left;
}

table thead th {
    border-bottom: 1px solid black;
}

table td {
    padding-right: 1em;
}